<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://127.0.0.1:3307/igtss16?zeroDateTimeBehavior=convertToNull&amp;autoReconnect=true
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Joongleur86</property>
		
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>

		<!-- this will show us all sql statements -->
		<property name="hibernate.show_sql">true</property>
		<property name="format_sql">true</property>

		<property name="hibernate.query.substitutions">true 1, false 0</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Pooling settings -->
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="c3p0.min_size">0</property>
		<property name="c3p0.max_size">100</property>
		<property name="c3p0.timeout">0</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.idle_test_period">0</property>

		<!-- mapping files -->
		<mapping resource="com/igt/hibernate/mapping/Costumer.hbm.xml" />
		<mapping resource="com/igt/hibernate/mapping/IgtOrder.hbm.xml" /> 
		<mapping resource="com/igt/hibernate/mapping/PeerGroup.hbm.xml" />
		<mapping resource="com/igt/hibernate/mapping/Process.hbm.xml" /> 
		<mapping resource="com/igt/hibernate/mapping/Settings.hbm.xml" /> 
		<mapping resource="com/igt/hibernate/mapping/Step.hbm.xml" /> 
		<mapping resource="com/igt/hibernate/mapping/Webservice.hbm.xml" /> 

	</session-factory>
</hibernate-configuration>